<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- displays site properly based on user's device -->

  <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
  <link rel="stylesheet" href="css/style.css">
  <title>Frontend Mentor | Todo app</title>
  <!-- Feel free to remove these styles or customise in your own stylesheet ðŸ‘ -->
</head>

<body>

  <header>
    <h1>TODO</h1>
    <div class="mode-icons">
      <img src="images/icon-moon.svg" alt="dark mode" class="dark-mode">
      <img src="images/icon-sun.svg"  alt="light mode" class="light-mode hidden">
    </div>
  </header>

  <main>

    <!-- create a todo form field -->
    <form action="/" method="post">
      <div class="div"><img src="images/icon-check.svg" alt="icon-check"></div>
      <input type="text" name="newTodo" placeholder="Create a todo" autocomplete="off" autofocus>
    </form>

    <!-- Todos -->

    <div class="wrapper">

      <ul class="todo-list">

        <% for (let i = 0; i < list.length; i++) { %>
          <li class="todo-item">
            <!-- <div class="div"><img src="images/icon-check.svg" lt="icon-check"></div> -->
            <input type="checkbox" name="checkbox" id= "<%= i %>" >
            <label for="<%= i %>"><%= list[i].todo %></label>
            <!-- <span><%= list[i] %></span> -->
            <img src="images/icon-cross.svg" alt="icon-cross" class="delete">
          </li> 
        <% } %>
      </ul>

      <!-- manage todos -->
      <div class="call-to-action">
        <p><span><%= numb %></span> item(s) left</p>
        <ul>
          <li><a class="light-anchor" href="/">All</a></li>
          <li><a class="light-anchor" href="/active">Active</a></li>
          <li><a class="light-anchor" href="/completed">Completed</a></li>
        </ul>
        <a class="light-anchor" href="/clearCompleted">Clear completed</a>
      </div>

    </div>


    <div>
      <a href="#">Drag and drop to reorder list</a>
    </div>
  </main>

  <footer>
    <div class="attribution">
      Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>.
      Coded by <a href="#">Your Name Here</a>.
    </div>
  </footer>
  
  <script src="static_js/index.js"></script>
</body>

</html>